<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="../assets/index.css" />
  </head>
  <body>
    <div class="header">
      <h2>Danchou</h2>
      <div class="menu-icon"></div>
    </div>
    <div class="main">
      <div class="sidebar">
        <ul>
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Users</a></li>
          <li><a href="#">Change</a></li>
          <li><a href="#">Change</a></li>
          <li><a href="#">Change</a></li>
          <li><a href="#">Change</a></li>
          <li><a href="#">Change</a></li>
          <li><a href="#">Change</a></li>
          <li><a href="#">Change</a></li>
          <li><a href="#">Change</a></li>
        </ul>
      </div>
      <div class="contents">
        <div class="card">
          <div class="card-1"><h2>Primary</h2></div>
          <div class="card-2"><h2>Danger</h2></div>
          <div class="card-3"><h2>Success</h2></div>
        </div>
        <div class="content-data"></div>
      </div>
    </div>
  </body>
</html>
