* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #0f0f0f;
}

.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px; /* Adjust as needed */
  background-color: #0f0f0f;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgb(47, 94, 252);
}

.form-header {
  text-align: center;
  margin-bottom: 20px;
  color: white;
}

.form-wrapper form {
  display: flex;
  flex-direction: column;
}

.form-wrapper input {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(47, 94, 252);
}

.form-wrapper button {
  background-color: #0f0f0f;
  color: rgb(47, 94, 252);
  cursor: pointer;
  border: 2px solid rgb(47, 94, 252);
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 700;
}

.form-wrapper button:hover {
  background-color: rgb(47, 94, 252);
  color: white;
}

.form-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.form-links a {
  margin: auto;
  text-decoration: none;
  color: rgb(47, 94, 252);
}

.form-links a:hover {
  color: white;
}
